@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap');
body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
h1{
	text-align: center;
	font-size: 4em;
}
h2{
	color:red;
}
main{
	max-width: 1000px;
	margin: 20px auto;
}
footer{
	text-align: center;
	border-top: 1px solid gray;
	padding: 10px;
	clear:both;
}
.logo{
margin: 0 auto;
display:block;
max-width: 400px;
height: auto;
}
.fa {
	color:darkred;
	font-size: 60px;
}
footer{
	text-align: center;
	border-top: 1px solid gray;
	padding: 10px;
	max-width: 1200px;
	margin: 0 auto;
}
.homehero{
	background-image:url(images/gloomybackground.jpg);
	background-size:cover;
	background-position: center;
	color: #FFFFFF;
	padding: 150px;
	text-align: center;
}
.homehero h2{
	font-size: 100px;
	color: white;
}
p,li{
	font-size: 20px;
}
nav{
	background-color: darkred;
	border-top: 2px solid red;
	border-bottom: 2px solid red;
	padding: 5px;
}
nav ul {
	list-style-type: none;
	text-align: center;
	margin-top: 6px;
	margin-bottom: 6px;
}
nav li {
	display: inline;
}
nav a{
	text-decoration: none;
	padding-right: 10px;
}
nav a:link{
    color: white;
}
nav a:visited{
    color: white;
}
nav a:hover{
    color: pink;
}
nav a:active{
    color: #000000;
}
table{
  border-collapse: collapse;
}
td, th{
  border: 1px solid #bbbbbb;
  padding: 5px;
}
th{
  background-color: darkred;
  color: white;
}
label{
	float: left;
	width: 8em;
	padding-right: 1em;
}
input,textarea{
	margin-bottom: 1em;
	display: block;
}
.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-image{
	float:left;
	margin: 20px;
	max-width: 50%;
}
.resume{
	padding: 75px;
	background-color: darkred;
	color: white;
	box-shadow: 12px 10px 41px 11px rgba(0,0,0,0.75);
	margin: 50px;
}
.resume h2{
	color: white;
	margin-top: 30px;
}
@media only screen and (max-width: 1024px){
	h1{
		font-size: 2em;
	}
    
}
@media only screen and (max-width: 768px){
h1{
		font-size: 1.5em; 
	}
}
